.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-brand h3 {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

footer {
  background-color: #f8f9fa;
  border-top: px solid #e9ecef;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
  color: #6c757d;
}
.custom-button {
  background-color: #808080;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.custom-button:hover {
  background-color: #a9a9a9;
  transform: scale(1.5);
}
